<form [formGroup]="errorForm" (ngSubmit)="errorSubmit()" >
<div bsModal #primaryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-primary" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">표기 오류 추가</h4>
        <button type="button" class="close" (click)="primaryModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="error_text">선택된 문장 번호</label>
              <input type="text" class="form-control" disabled formControlName="sentence_no">
              
              <input type="hidden" class="form-control" disabled formControlName="position">
              
              <input type="hidden" class="form-control" disabled formControlName="length">
            </div>
          </div>
        </div><!--/.row-->

        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="error_text">표기 오류</label>
              <input type="text" class="form-control" placeholder="잘못된 키워드 혹은 문장을 입력해주세요" formControlName="text" disabled>
            </div>
          </div>
        </div><!--/.row-->
        
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label for="ccmonth">오류 카테고리</label>
              <select class="form-control" id="ccmonth" formControlName="code">
                <option value="0" selected disabled>항목을 선택해주세요</option>
                <option *ngFor="let item of error_codes" [value]="item.code">{{item.code}} - {{item.name}}</option>
              </select>
            </div>
          </div>
        </div><!--/.row-->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="primaryModal.hide()">Close</button>
        <button type="button" class="btn btn-primary" type="submit">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</form>
<span class="selected" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."></span>
<div class="animated fadeIn inhome" *ngIf="result != null">
  <div class="card card-accent-primary">
    <div class="card-header">
      문서 요약
    </div>
    <div class="card-body">
      <h2>{{result.document.title}}</h2>
      <div class="url">{{result.document.url}}</div>
      <div class="step-progress">
        <div class="progress-track"></div>
        <div id="step1" class="progress-step first"
          [ngClass]="{'is-active':getStatusLevel() == 1, 'is-complete':getStatusLevel() > 1, 'was-complete':getStatusLevel() > 2}">
          분석 요청됨
        </div>
        <div id="step2" class="progress-step"
          [ngClass]="{'is-active':getStatusLevel() == 2, 'is-complete':getStatusLevel() > 2, 'was-complete':getStatusLevel() > 3}">
          인공지능을 통한 오류 검출
        </div>
        <div id="step3" class="progress-step"
          [ngClass]="{'is-active':getStatusLevel() == 3, 'is-complete':getStatusLevel() > 3, 'was-complete':getStatusLevel() > 4}">
          검출 결과 검증
        </div>
        <div id="step4" class="progress-step"
          [ngClass]="{'is-active':getStatusLevel() == 4, 'is-complete':getStatusLevel() > 4, 'was-complete':getStatusLevel() > 5}">
          분류 작업 완료
        </div>
      </div>


      <div class="details">
        <dl class="row">
          <dt class="col-sm-3">생성된 날짜</dt>
          <dd class="col-sm-9">{{result.document.created_time}}</dd>
          <dt class="col-sm-3">마지막 업데이트</dt>
          <dd class="col-sm-9">{{timeForToday(result.document.updated_time)}}</dd>

          <dt class="col-sm-3">검출된 표기 오류</dt>
          <dd class="col-sm-9">
            <span *ngFor="let item of distinct_errors; let isLast=last">{{item.name}}{{isLast ? '' : ','}} </span>
          </dd>
        </dl>
      </div>
    </div>
  </div>
  <tabset>
    <tab>
      <div [collapse]="isCollapsed">
        <ng-template tabHeading><i class="icon-list"></i> 원문 (영어)</ng-template>
        <alert type="success" dismissible="true" *ngIf="getStatusLevel() == 1"><i class="fa fa-info-circle"></i> 서버에서 페이지 내용을 수집중입니다. 조금만 기다리면 자동으로 페이지에 반영됩니다.</alert>
        <alert type="success" dismissible="true" *ngIf="getStatusLevel() == 2"><i class="fa fa-info-circle"></i> 서버에서 인공지능을 통해 오류 표기를 검출하고 있습니다. 조금만 기다리면 자동으로 페이지에 반영됩니다.</alert>
        <alert type="danger" dismissible="true" *ngIf="getStatusLevel() > 2"><i class="fa fa-warning"></i> 혹시 검출되지 않은 표기 오류가 있나요? 문제가 있는 텍스트를 드래그하여 오류
          표시를 추가할 수 있습니다.</alert>
        <ng-template #popTemplateHtml>
          고유 번호: {{selected_error.no}} <a (click)="deleteError(selected_error.no)" href="javascript:void(0)">(표기 오류 제거)</a><br><br>
          <div class="error_explanation">{{selected_error.explanation}}</div> 
           <a href="javascript:void(0)" (click)="detail(selected_error.code)">더 자세히</a>
        </ng-template>
        <div>
          <span *ngFor="let sentence of contents" class="sentence" ngPreserveWhitespaces>
            <div *ngIf="sentence.length == 1 && sentence[0]['text'].length == 0"><br>
            </div>
            <div *ngFor="let item of sentence" style="display: inline;" class="text" [id]="'sentence_' + item.sentence_no"><span *ngIf="item.tag == 'text'" class="text">{{item.text}}</span><span *ngIf="item.tag == 'error'" class="text h" [popover]="popTemplateHtml" [popoverTitle]="item.error.name" container="body" (click)="selected_error = item.error">{{item.text}}</span></div>
          </span>
        </div>
      </div>
    </tab>
    <tab>
      <ng-template tabHeading><i class="icon-calculator"></i> 한국어로 보기 &nbsp;<span class="badge badge-success">New</span>
      </ng-template>
      <div>
        <span *ngFor="let sentence of contents" class="sentence">
          <div *ngIf="sentence.length != 1 || sentence[0]['text'].length != 0">
            <div *ngFor="let item of sentence" style="display: inline;" class="text" [id]="'sentence_' + item.sentence_no"><span *ngIf="item.tag == 'text'" class="text">{{item.text}}</span><span *ngIf="item.tag == 'error'" class="text h" [popover]="popTemplateHtml" [popoverTitle]="item.error.name" container="body" (click)="selected_error = item.error">{{item.text}}</span></div>
            <br>{{translate_contents[sentence[0].sentence_no]}}
          </div>
          <br>
        </span>
      </div>
    </tab>
    <tab *ngIf="result.file"> 
      <ng-template tabHeading><i class="icon-calculator"></i> 이미지
      </ng-template>
      <div>
        <img *ngIf="result.file" [src]="result.file" style="width: 100%;">
      </div>
    </tab>
      <div class="card-footer">
        <button type="button" class="btn btn-primary" (click)="isCollapsed = !isCollapsed">
          <div *ngIf="isCollapsed">원문 펴기</div>
          <div *ngIf="!isCollapsed">원문 접기</div>
        </button>

        <button type="button" class="btn btn-success"  *ngIf="getStatusLevel() == 2" (click)="UpdateStatus('labeled')">
          인공지능 오류 검출 생략
        </button>
        <button type="button" class="btn btn-success"  *ngIf="getStatusLevel() == 3" (click)="UpdateStatus('verified')">
          분류 완료 상태로 표시
        </button>
      </div>
  </tabset>

  <div class="row">
    <div class="col-sm-12 col-md-12" *ngFor="let item of distinct_errors" >
      <div class="card card-accent-danger">
        <div class="card-header" [id]="item.code">
          {{item.code}} - {{item.name}}
        </div>
        <div class="card-body">
          검출된 표기 오류: {{item.count}}개 <br><br>
          {{item.explanation}}
        </div>
      </div>
    </div>
  </div>
</div>